<div class="details_wrapper" *ngIf="filtersLoaded | async">
    <div> <b>Title</b> -{{issueDetails.title}} <span> # <b>{{issueId}}</b></span></div>

    <div class="details_body">
        {{issueDetails.body}}
    </div>

    <div class="details_sideBar" *ngIf="issueDetails.labels.length>0">
        <div>Labels</div>
        <ng-container *ngFor="let item of issueDetails.labels">
            <div>{{item.name}}</div>
        </ng-container>


    </div>
</div>