.details_body{
    width: 70%;
    padding: 5px;
    background: lightgray;
    border: 1px solid;
    display: inline-block;

}

.details_sideBar{
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        width: 27%;
    ;
    
        background: dimgray;
        text-align: center;
    
}
.details_wrapper{
    margin-top: 30px;
}