<ng-container *ngIf="filtersLoaded | async">

    <div>
        REPO Name:{{repoDetails.full_name}}--{{checkIfPublicRepo}}
    </div>
    <div class="wrapper">
        <div class="header">
            open Issue count={{repoDetails.open_issues_count}}
        </div>

    </div>
</ng-container>
<router-outlet>
</router-outlet>