<ng-container *ngIf="filtersLoaded | async">

    <div>
        <div><input class="searchbox" type="text" placeholder="Enter to search" (keyup.enter)='search($event)'></div>
    </div>
    <div class="issues-wrapper">
        <ng-container *ngFor="let item of allIssue.items">
            <div class="each_issue">
                <a [routerLink]="['/details', item.number]">{{item.title}} </a>[{{item.state}}]
            </div>
        </ng-container>

    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent=pageChange($event)" aria-label="Select page">
    </mat-paginator>

</ng-container>