.mat-form-field {
    margin-right: 12px;
  }

  .each_issue{
      height: 30px;
      background-color:lightgray;
      padding: 10px;
      border: 1px solid gray;
  }

  .searchbox
  {
    height: 30px;
    width: 80%;
    margin: 30px auto;

  }
  